@font-face {
    font-family: "ta3worktable";
    src: url('./fonts/icomoon.eot'); /* IE9*/
    src: url('./fonts/icomoon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/icomoon.woff') format('woff'), /* chrome、firefox */
    url('./fonts/icomoon.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('./fonts/icomoon.svg#iconfont') format('svg'); /* iOS 4.1- */
}

*{
    box-sizing: border-box;
}
body{
    font-family: "Microsoft YaHei";
}
ul{
    margin: 0px;
    padding: 0px;
    display: block;
    list-style-type: disc;
}
#drop_factory{
    position: absolute;
    /*height: 1814px;*/
    width: 804px;
    top: 20px;
    left:20px;
    right:20px;
    bottom: 0px;
    border: 1px solid #ccc;
    z-index: 0;

}

.auto_con{
    position: relative;
    height: auto;
}
.auto_con .con{
    list-style-type:none;
    border:1px solid #178CDF;
    min-width: 57px;
    min-height: 57px;
    border-radius: 4px;
    background-color: white;
    position: absolute;
    z-index: 990;

}
/*添加框*/
.con.add_new_con{
   border:2px dotted #aaa;
    text-align: center;
}
.con.add_new_con>span{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px dotted #aaa;
    margin-top: 7px;
    text-align: center;

}
.con.add_new_con>span .vertical{
    position: absolute;
    display: inline-block;
    top: 15%;
    left: 49%;
    height: 77%;
    border-right: 2px solid #aaa;
    background-color: red;
}
.con.add_new_con>span .horizontal{
    position: absolute;
    display: inline-block;
    width: 77%;
    top: 50%;
    left: 16%;
    border-bottom: 2px solid #aaa;

}
.placeholder{
    list-style-type:none;
    position: absolute;
    z-index: 900;
    border: 2px dashed #ccc;}

.drag_bar{
    position: absolute;
    top: 0px;
    width:100%;
    height:30px;
    color: white;
    background-color: #178CDF;
    cursor: move;
    text-align: center;
    overflow: hidden;
    padding-top: 5px;
}

.drag_bar .con_head_type{
    float: left;
    margin-left: 10px;

}
.drag_bar .con_head_refresh{
    float: right;
    margin-right: 10px;
    cursor: pointer;
}
.drag_bar .con_head_refresh:before {
    font-family: "ta3worktable";
    font-size: 12px;
    content: "\e901";
}

.drag_bar .con_head_delete{
    cursor: pointer;
    float: right;
    margin-right: 10px;
}
.drag_bar .con_head_delete:before {
    font-family: "ta3worktable";
    font-size: 14px;
    content: "\e902";
}


.con_content{
    width: 100%;
    padding-top: 30px;
    height: 100%;
    overflow: hidden;
}
.con_content iframe{
    height: 100%;
    width: 100%;

}
.resize_bar{
    display: inline-block;
    width:30px;
    height: 30px;
   /*background-color: red;*/
    position: absolute;
    right: 0px;
    bottom:0px;
    cursor:se-resize;
    text-align: center;
}
.resize_bar span{
  display: inline-block;
    position:absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #aaa;
    border-right: 2px solid #aaa;
    right: 5px;
    bottom: 5px;

}





