$miancolor: #178CDF;

@font-face {
  font-family: "ta3worktable";
  //src:url(./fonts/icomoon.woff);
  src: url('./fonts/icomoon.eot');
  src: url('./fonts/icomoon.eot?#iefix') format('embedded-opentype'),
  url('./fonts/icomoon.woff') format('woff'),
  url('./fonts/icomoon.ttf') format('truetype'),
  url('./fonts/icomoon.svg#iconfont') format('svg');
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Microsoft YaHei";
}

ul {
  margin: 0px;
  padding: 0px;
  display: block;
  list-style-type: disc;
}

#drop_factory {
  position: absolute;
  /*height: 1814px;*/
  width: 804px;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 0px;
  border: 1px solid #ccc;
  z-index: 0;
  /*background-color: red;*/

}

.auto_con {
  position: relative;
  height: auto;
}

.auto_con .con {
  list-style-type: none;
  border: 1px solid #178CDF;
  min-width: 57px;
  min-height: 57px;
  border-radius: 4px;
  background-color: white;
  position: absolute;
  z-index: 990;

}

.con.add_new_con {
  border: 2px dotted #aaa;
  text-align: center;
}

.con.add_new_con > span {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px dotted #aaa;
  margin-top: 7px;
  text-align: center;
  cursor: pointer;

}

.con.add_new_con > span:hover {
  background-color: #ccc;
}

.con.add_new_con > span .vertical {
  position: absolute;
  display: inline-block;
  top: 15%;
  left: 49%;
  height: 77%;
  border-right: 2px solid #aaa;

}

.con.add_new_con > span .horizontal {
  position: absolute;
  display: inline-block;
  width: 77%;
  top: 50%;
  left: 16%;
  border-bottom: 2px solid #aaa;

}

.placeholder {
  list-style-type: none;
  position: absolute;
  z-index: 900;
  border: 2px dashed #ccc;
}

.drag_bar {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 30px;
  color: white;
  background-color: #178CDF;
  cursor: move;
  text-align: center;
  overflow: hidden;
  padding-top: 5px;
}

.drag_bar .con_head_type {
  float: left;
  margin-left: 10px;

}

.drag_bar .con_head_refresh {
  float: right;
  margin-right: 10px;
  cursor: pointer;
}

.drag_bar .con_head_refresh:before {
  font-family: "ta3worktable";
  font-size: 12px;
  content: "\e901";
}

.drag_bar .con_head_delete {
  cursor: pointer;
  float: right;
  margin-right: 10px;
}

.drag_bar .con_head_delete:before {
  font-family: "ta3worktable";
  font-size: 14px;
  content: "\e902";
}

.con_content {
  width: 100%;
  padding-top: 30px;
  height: 100%;
  overflow: hidden;
}

.con_content iframe {
  height: 100%;
  width: 100%;

}

.resize_bar {
  display: inline-block;
  width: 30px;
  height: 30px;
  /*background-color: red;*/
  position: absolute;
  right: 0px;
  bottom: 0px;
  cursor: se-resize;
  text-align: center;
}

.resize_bar span {
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #aaa;
  border-right: 2px solid #aaa;
  right: 5px;
  bottom: 5px;

}

#mask_con {
  position: absolute;
  display: none;
  /*width: 100%;*/
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  z-index: 999;
  background-color: rgba(17, 17, 17, 0.47);
}

.mask_content {
  width: 300px;
  height: 300px;
  margin: auto;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  /*background-color: white;*/
  border-radius: 10px;
}

.mask_content_head {
  height: 30px;
  width: 100%;
  background-color: #178CDF;
  border-radius: 10px 10px 0px 0px;
  color: white;
  line-height: 30px;
  padding-left: 20px;
  #close_mask {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: white;
    color: $miancolor;
    float: right;
    line-height: 16px;
    text-align: center;
    margin: 5px 10px 0px 0px;
    cursor: pointer;

  }

}

.mask_content_con {
  background-color: white;
  height: 120px;
  display: table;
  width: 100%;
  padding: 10px 10px 0px 10px;
  color: #666;
  input[type=text] {
    margin-left: 10px;
    border: none;
    border-bottom: 1px solid $miancolor;
    padding-left: 10px;
    &:focus {
      outline: none;
    }
  }
  div {
    width: 100%;
    height: 32px;
    line-height: 32px;
    background-color: $miancolor;
    color: white;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;

  }

}