@font-face {
  font-family: "ta3worktable";
  src: url("./fonts/main/icomoon.eot");
  src: url("./fonts/main/icomoon.eot?#iefix") format("embedded-opentype"), url("./fonts/main/icomoon.woff") format("woff"), url("./fonts/main/icomoon.ttf") format("truetype"), url("./fonts/main/icomoon.svg#iconfont") format("svg"); }
@font-face {
  font-family: "check";
  src: url("./fonts/check/check.eot");
  src: url("./fonts/check/check.eot?#iefix") format("embedded-opentype"), url("./fonts/check/check.woff") format("woff"), url("./fonts/check/check.ttf") format("truetype"), url("./fonts/check/check.svg#iconfont") format("svg"); }
* {
  box-sizing: border-box; }

body {
  font-family: "Microsoft YaHei"; }

ul {
  margin: 0px;
  padding: 0px;
  display: block;
  list-style-type: disc; }

#drop_factory {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0; }

.auto_con {
  position: relative;
  height: auto; }

.auto_con .con {
  list-style-type: none;
  border: 1px solid #178CDF;
  min-width: 57px;
  min-height: 57px;
  border-radius: 4px;
  background-color: white;
  position: absolute;
  z-index: 990;
  overflow: hidden; }

.con.add_new_con {
  border: 2px dotted #aaa;
  text-align: center;
  z-index: 0; }

.con.add_new_con > span {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px dotted #aaa;
  margin-top: 7px;
  text-align: center;
  cursor: pointer; }

.con.add_new_con > span:hover {
  background-color: #ccc; }

.con.add_new_con > span .vertical {
  position: absolute;
  display: inline-block;
  top: 15%;
  left: 49%;
  height: 77%;
  border-right: 2px solid #aaa; }

.con.add_new_con > span .horizontal {
  position: absolute;
  display: inline-block;
  width: 77%;
  top: 50%;
  left: 16%;
  border-bottom: 2px solid #aaa; }

.placeholder {
  list-style-type: none;
  position: absolute;
  z-index: 900;
  border: 2px dashed #ccc; }

.drag_bar {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 30px;
  color: white;
  background-color: #178CDF;
  cursor: move;
  text-align: center;
  overflow: hidden;
  padding-top: 5px; }

.drag_bar .con_head_type {
  float: left;
  margin-left: 10px; }

.drag_bar .con_head_refresh {
  float: right;
  margin-right: 10px;
  cursor: pointer; }

.drag_bar .con_head_refresh:before {
  font-family: "ta3worktable";
  font-size: 12px;
  content: "\e901"; }

.drag_bar .con_head_delete {
  cursor: pointer;
  float: right;
  margin-right: 10px; }

.drag_bar .con_head_delete:before {
  font-family: "ta3worktable";
  font-size: 14px;
  content: "\e902"; }

.con_content {
  width: 100%;
  padding-top: 30px;
  height: 100%;
  overflow: hidden; }

.con_content iframe {
  height: 100%;
  width: 100%; }

.resize_bar {
  display: inline-block;
  width: 30px;
  height: 30px;
  /*background-color: red;*/
  position: absolute;
  right: 0px;
  bottom: 0px;
  cursor: se-resize;
  text-align: center; }

.resize_bar span {
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #aaa;
  border-right: 2px solid #aaa;
  right: 5px;
  bottom: 5px; }

#mask_con {
  position: fixed;
  display: none;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  z-index: 999;
  background-color: rgba(17, 17, 17, 0.47); }
  #mask_con .mask_bg {
    position: absolute;
    width: 100%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    z-index: 990;
    background-color: black;
    filter: alpha(style=0, opacity=50);
    background-color: rgba(17, 17, 17, 0.47); }

.mask_content {
  width: 400px;
  height: 330px;
  margin: auto;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  z-index: 999;
  border-radius: 4px; }

.mask_content_head {
  height: 30px;
  width: 100%;
  background-color: #178CDF;
  border-radius: 4px 4px 0px 0px;
  color: white;
  line-height: 30px;
  padding-left: 20px; }
  .mask_content_head #close_mask {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: white;
    color: #178CDF;
    float: right;
    line-height: 16px;
    text-align: center;
    margin: 5px 10px 0px 0px;
    cursor: pointer; }

.mask_content_con {
  background-color: white;
  display: table;
  width: 100%;
  padding: 10px 20px 10px 20px;
  color: #666; }
  .mask_content_con p {
    margin: 4px 0px 10px 0px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 7px;
    font-size: 14px;
    padding-left: 0px; }
  .mask_content_con .default_panel {
    width: 100%;
    height: auto; }
    .mask_content_con .default_panel > span {
      font-size: 12px;
      display: inline-block;
      border: 1px solid #ddd;
      border-radius: 2px;
      margin: 0px 4px 6px 0px;
      padding: 4px 10px 4px 10px;
      vertical-align: middle;
      cursor: pointer; }
      .mask_content_con .default_panel > span:before {
        font-family: "check";
        content: "\e900";
        margin-right: 6px; }
      .mask_content_con .default_panel > span:hover {
        box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3); }
    .mask_content_con .default_panel > span.active {
      color: #178CDF;
      border: 1px solid #178CDF; }
  .mask_content_con .add_panel {
    width: 100%; }
    .mask_content_con .add_panel label {
      font-size: 12px;
      display: inline-block;
      width: 30px; }
    .mask_content_con .add_panel > div {
      display: inline-block;
      width: 270px;
      height: 100px;
      float: left; }
      .mask_content_con .add_panel > div > div {
        padding: 10px 0px 10px 0px; }
      .mask_content_con .add_panel > div input[type=text] {
        margin-left: 10px;
        border: none;
        width: 220px;
        border-bottom: 1px solid #ccc;
        padding-left: 10px; }
        .mask_content_con .add_panel > div input[type=text]:focus {
          outline: none; }
    .mask_content_con .add_panel #ensure_create {
      font-size: 14px;
      display: inline-block;
      width: 85px;
      margin-top: 23px;
      height: 53px;
      line-height: 53px;
      border-radius: 4px;
      float: right;
      background-color: #178CDF;
      color: white;
      text-align: center;
      cursor: pointer; }

/*# sourceMappingURL=ta3worktable.css.map */
