*{
    box-sizing: border-box;
}
body{
    font-family: "Microsoft YaHei";
}
ul{
    margin: 0px;
    padding: 0px;
    display: block;
    list-style-type: disc;
}
#drop_factory{
    position: absolute;
    width: 804px;
    top: 20px;
    left:20px;
    right:20px;
    bottom: 0px;
    border: 1px solid #ccc;
    z-index: 0;

}
.auto_con{
    position: relative;
    height: auto;
}
.auto_con li{
    list-style-type:none;
    border:1px solid #178CDF;
    min-width: 57px;
    min-height: 57px;
    border-radius: 4px;
    background-color: white;

}
.con{
    position: absolute;
    z-index: 990;
}
.drag_bar{
    width:100%;
    height:30px;
    color: white;
    background-color: #178CDF;
    cursor: move;
    text-align: center;

}
.resize_bar{
    display: inline-block;
    width:20px;
    height: 20px;
    background-color: #178CDF;
    color: white;
    position: absolute;
    right: 0px;
    bottom:0px;
    cursor:se-resize;
}
/*.con1{*/
    /*left:5px;*/
    /*top:5px;*/
/*}*/
/*.con2{*/
    /*top:5px;*/
    /*left:72px;*/
/*}*/
/*.con3{*/
    /*top:5px;*/
    /*left:139px;*/
/*}*/




